<!DOCTYPE html>
<head>
<title>Registration</title>
</head>
<body>
    

 <form name="regform" action="" method="post" class="register" >
            <h1>Registration</h1>
            <fieldset class="row1">
                <legend>Account Details
                </legend>
                <p>
                    <label>Fast Name : *</label>
                    <input type="text" onkeyup="validation()" name ="firstname" id ="firstname" placeholder = ""> 
					<span id="msg1"></span> </br> </br>
					
                    <label>Last Name : *</label>
                    <input type="text" onkeyup="validation()" name ="lastname" id ="lirstname" placeholder = "">
					<span id="msg2"></span>
                </p>
				<p>
				 <label> User Name : *</label>
					<input type ="text" onkeyup="validation()" name ="uname" id ="username" onfocusout="checkusername()" placeholder="">
					<span id="msg3"></span>
					
				</p>
                <p>
                    <label>Password : * </label>
                    <input type="password" onkeyup="validation()" name ="pass" id ="password" placeholder = ""> </br> </br>
                    <label>Confirm Password : * </label>
                    <input type="password" onkeyup="validation()" name ="cpass" id ="Cpassword" placeholder = "">
					<span id="msg4"></span>
                    
                </p>
				
            </fieldset>
            <fieldset class="row2">
                <legend>Personal Details
                </legend>
               
                <p>
                    <label>Phone :*
                    </label>
                    <input type="text" onkeyup="validation()" id="phn" name="phone" maxlength="11" >
					<span id="msg5"></span>
                </p>

                <p>
                    <label>Division :*
                    </label>
                    <select name="div" class = "division">
						<option value="Dhaka">Dhaka</option>
						<option value="Chittagong">Chittagong</option>
						<option value="Rajshahi">Rajshahi</option>
						<option value="Khulna">Khulna</option>
						<option value="Barisal">Barisal</option>
						<option value="Sylhet">sylhet</option>
						<option value="Rangpur">Rangpur</option>
						<option value="Mymensingh">Mymensingh</option>
					</select>
                </p>
                <p>
                    <label>User Type : *
                    </label>
                    <select name="typ" >
                        <option value="buyer">Buyer</option>
                        <option value="seller">Seller</option>
                    </select>
                </p>
				 <p>
                    <label class="">E-mail :</label>
                    <input type="text" onkeyup="validation()" id="mail" name="mail"  class="long" placeholder="example@mail.com"/>
					<span id="msg6"></span>
					
                </p>
                <p>
                    <label class="">NID :*
                    </label>
                    <input onkeyup="validation()" id="nid" class="long"  type="text" name="nid" value="" >
					<span id="msg7"></span>

                </p>
            </fieldset>
            <fieldset class="row3">
                <legend>Further Information
                </legend>
                <p>
                    <label>Gender : *</label>
                    <input type="radio" value="Male" name ="gender" >
                    <label class="gender">Male</label>
                    <input type="radio" value="Female" name="gender" >
                    <label class="gender">Female</label>
                </p>
                <p>
                    <label>Birthdate *
                    </label>
                    <select name="day" class="date">
                        <option value="1">01
                        </option>
                        <option value="2">02
                        </option>
                        <option value="3">03
                        </option>
                        <option value="4">04
                        </option>
                        <option value="5">05
                        </option>
                        <option value="6">06
                        </option>
                        <option value="7">07
                        </option>
                        <option value="8">08
                        </option>
                        <option value="9">09
                        </option>
                        <option value="10">10
                        </option>
                        <option value="11">11
                        </option>
                        <option value="12">12
                        </option>
                        <option value="13">13
                        </option>
                        <option value="14">14
                        </option>
                        <option value="15">15
                        </option>
                        <option value="16">16
                        </option>
                        <option value="17">17
                        </option>
                        <option value="18">18
                        </option>
                        <option value="19">19
                        </option>
                        <option value="20">20
                        </option>
                        <option value="21">21
                        </option>
                        <option value="22">22
                        </option>
                        <option value="23">23
                        </option>
                        <option value="24">24
                        </option>
                        <option value="25">25
                        </option>
                        <option value="26">26
                        </option>
                        <option value="27">27
                        </option>
                        <option value="28">28
                        </option>
                        <option value="29">29
                        </option>
                        <option value="30">30
                        </option>
                        <option value="31">31
                        </option>
                    </select>
                    <select name="month" >
                        <option value="January">January
                        </option>
                        <option value="February">February
                        </option>
                        <option value="March">March
                        </option>
                        <option value="April">April
                        </option>
                        <option value="May">May
                        </option>
                        <option value="June">June
                        </option>
                        <option value="July">July
                        </option>
                        <option value="August">August
                        </option>
                        <option value="September">September
                        </option>
                        <option value="October">October
                        </option>
                        <option value="November">November
                        </option>
                        <option value="December">December
                        </option>
                    </select>
					<select name="year" class="year">
                        <option value="1991">1991
                        </option>
                        <option value="1992">1992
                        </option>
                        <option value="1993">1993
                        </option>
                        <option value="1994">1994
                        </option>
                        <option value="1995">1995
                        </option>
                        <option value="1996">1996
                        </option>
                        <option value="1997">1997
                        </option>
                        <option value="1998">1998
                        </option>
                        <option value="1999">1999
                        </option>
                        <option value="2000">2000
                        </option>
                    
                    </select>
                    
                </p>
                <p>
                    <label>Nationality * 
					</label>
                    <select name="nation" >
                        <option value="Bangladeshi">Bangladeshi
                        </option>
                    </select>
                </p>

            </fieldset>
			   
            <div><input type="submit" class="button" onclick="return validation()" value="Register>" /></div>
		
			<div><a href="home/index" class="button" </a>Back</div>
						
        </form>

        <ul>

        <% for(var i= 0; i< errs.length; i++){ %>
        <li><%= errs[i].message %></li> <% } %>

        </ul>

</body>

</html>