<html>

<body class="main">

    <div class="container"> </div>
	<div class="mrq">
	<marquee >Agriculture is the largest employment sector in Bangladesh. The performance of this sector has an overwhelmig impact on major macroeconomic objectives like employment generation, poverty alleviation, human resources development,food security etc.A plurality of Bangladeshis earn their living from agriculture. Although rice and jute are the primary crops, wheat is assuming greater importance. Tea is grown in the northeast. Because of Bangladesh's fertile soil and normally ample water supply, rice can be grown and harvested three times a year in many areas. Due to a number of factors, Bangladesh's labour-intensive agriculture has achieved steady increases in food grain production despite the often unfavorable weather conditions. These include better flood control and irrigation, a generally more efficient use of fertilizers, and the establishment of better distribution and rural credit networks. With 35.8 million metric tons produced in 2000, rice is Bangladesh's principal crop. National sales of the classes of insecticide used on rice, including granular carbofuran, synthetic pyrethroids, and malathion exceeded 13,000 tons of formulated product in 2003.[1] The insecticides not only represent an environmental threat, but are a significant expenditure to poor rice farmers. The Bangladesh Rice Research Institute is working with various NGOs and international organisations to reduce insecticide use in rice.[2] </marquee>
	</div>
	
   <div class="navigation">
	<ul>
	     <li> <a href="index" > Home </a></li>
		 <li> <a href="../login" > Login</a> </li>
	</ul>
	</div>
	
<form action="" method="post" enctype="multipart/form-data" name="user">
<br><br>



		<div class="dbtable">

		<% for(var i=0; i< product_info.length;i++) { %>

		<table border=1px>	
		    <tr>  
		      	<td>
		      		<div class="dbinfo">
				       <b>Product Name :</b> <%=product_info[i].product_name %> <br>
					   <b> Location:</b> <%=product_info[i].division %> <br>
					   <a href="index/details/<%=product_info[i].adid %>">Details</a>
	
					</div>
				</td>
				
			</tr>
			<tr><br><br></tr>	
		</table>	

		<% }	%>	   
				
		</div>
		   
		
		
 </form>
 
     
</html>